[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-search-python = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
async-lru = "*"

[dev-packages]

[requires]
python_version = "3.10"
